{% extends "base.html" %}

{% block content %}

    <script>
      $(document).ready(function(){
        $(".active").removeClass("active");
        $("#nav-about").addClass("active");
      });
</script>


<div class="col py-5">
    <div class="row py-3">
        <p class="answer">
            <b>Белова Полина Евгеньевна</b> —
            эксперт-лингвист, эксперт-авторовед ООО «Центр экспертизы и оценки «ЕСИН»;
            аспирант и приглашенный специалист Департамента фундаментальной и прикладной лингвистики в НИУ ВШЭ — Нижний Новгород.
        <br>
            <b>Для связи:</b> belova-polina@mail.ru
        </p>

    <div class="row py-3">
        <p class="answer">
            <b>Сафарян Анна Карэновна</b> —
            компьютерный лингвист, разработчик в области машинного обучения;
            приглашенный специалист Департамента фундаментальной и прикладной лингвистики в НИУ ВШЭ — Нижний Новгород.
        <br>
            <b>Для связи:</b> anna.safaryan-813@yandex.ru
        </p>

    </div>
    </div>
</div>


{% endblock content %}

