{% extends "base.html" %}

{% block content %}

    <script>
      $(document).ready(function(){
        $(".active").removeClass("active");
        $("#nav-faq").addClass("active");
      });
    </script>

<div class="col py-5">
    <div class="row py-3">
        <p>
        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="collapse"
                data-bs-target="#summary" aria-expanded="false" aria-controls="collapseExample">
            Содержание
        </button>
        </p>
        <div class="collapse" id="summary">
            <ul>
                <li>
                    <a href="#what" class="summary_link">
                        Для чего нужен проект?
                    </a>
                </li>
                <li>
                    <a href="#how_data" class="summary_link">
                        Как подготовить данные для анализа?
                    </a>
                </li>
                <li>
                    <a href="#how_result" class="summary_link">
                        В каком формате вернётся результат?
                    </a>
                </li>
                <li>
                    <a href="#how_model" class="summary_link">
                        Как выбрать модель для анализа?
                    </a>
                </li>
                <li>
                    <a href="#models" class="summary_link">
                        Что вообще за модели?
                    </a>
                </li>
                <li>
                    <a href="#mess" class="summary_link">
                        Вместо результатов какая-то ерунда!
                    </a>
                </li>
                <li>
                    <a href="#loading" class="summary_link">
                        Значок загрузки бесконечно мигает!
                    </a>
                </li>
                <li>
                    <a href="#publications" class="summary_link">
                        Где можно почитать про проект?
                    </a>
                </li>
                <li>
                    <a href="#contacts" class="summary_link">
                        Как с вами связаться?
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" id="what">
        <h3>Для чего нужен проект?</h3>
            <p class="answer">
                FindImper помогает автоматически вычленить побуждения из текстов.
                Это полезно при анализе текста, например, лингвистом-экспертом.
            </p>
    </div>

    <div class="row" id="how_data">
        <h3>Как подготовить данные для анализа?</h3>
            <p class="answer">
                Самый простой способ — оформить всё в таблицу Excel (или аналогичную),
                а потом экспортировать ("сохранить как...") в текстовый файл с разделителем табуляцией.
                В таблице должно быть три (четыре для получения метрик) столбца:
            </p>
            <ol class="answer">
                <li>
                    <b>N</b>: номер диалога или монологического текста;
                    не влияет на результат, можно поставить любое значение.
                </li>
                <li>
                    <b>S</b>: пол говорящего; не влияет на результат,
                    можно поставить любое значение.
                </li>
                <li>
                    <b>Text</b>: реплика говорящего
                    (может состоять из нескольких предложений) в случае диалога
                    или цепочку предложений в случае монологического текста.
                </li>
                <li>
                    <b>Imperative</b> (опционально, для оценки):
                    элементы вида "номер предложения: части императивного выражения через запятую";
                    каждый элемент, кроме последнего, должен заканчиваться точкой.
                </li>
            </ol>
    </div>

        <div class="row" id="how_result">
        <h3>В каком формате вернётся результат?</h3>
            <p class="answer">
                На странице результата можно будет скачать текстовый файл,
                представляющий собой исходную таблицу с добавленным столбцом
                <b>Imperative</b>, в котором для каждого преддложения
                через запятую указаны элементы побудительных конструкций.
                Для удобства можно импортировать данные из него в программу Excel (или аналогичную).
            </p>
    </div>

    <div class="row" id="how_model">
        <h3>Как выбрать модель для анализа?</h3>
            <p class="answer">
                Разные модели используют разные алгоритмы, правила или данные для обучения.
                На данный момент лучше всего работают правиловые подходы: pymorphy и mystem.
                Если не знаете, что использовать, просто ничего не трогайте:
                по умолчанию используется pymorphy, обеспечивающий оптимальное соотношение качества и скорости работы.
            </p>
    </div>

    <div class="row" id="models">
        <h3>Что вообще за модели?</h3>
            <p class="answer">
                Модели помогают компьютеру понимать язык.
            </p>
            <ul class="answer">
                <li>
                    <b>pymorphy2</b> анализирует текст пословно,
                    прибегая к данным корпуса OpenCorpora и предлагая
                    гипотетические морфологические разборы слов.
                </li>
                <li>
                    <b>MyStem</b> — инструмент от компании Яндекс,
                    также строящий гипотетические морфологические разборы слов,
                    однако, в отличие от Pymorphy2, ещё и разрешающий омонимию
                    на основе статистических данных из НКРЯ.
                </li>
                <li>
                    <b>spaCy</b> — современный инструмент для автоматической обработки естественного языка,
                    обладающий большими возможностями лемматизации, морфологического разбора,
                    синтаксического парсинга, извлечения именованных сущностей и т.д.
                    Для русского языка использовалась предобученная модель,
                    созданная на основе корпуса новостных и медийных текстов Nerus.
                    Это синтетический корпус, размеченный обученной на небольшом корпусе
                    вручную размеченных текстов нейронной сетью на основе архитектуры BERT.
                    Набор граммем в этой модели соответствует универсальному формату CoNLL-U.
                </li>
                <li>
                    <b>UDPipe</b> — инструмент от Institute of Formal and Applied Linguistics (&#218;FAL),
                    Charles University. Использовалась модель, предобученная на корпусе SynTagRus 2.5,
                    поэтому набор граммем также соответствует формату CoNLL-U.
                </li>
                <li>
                    <b>Stanza</b> — созданный Stanford NLP Group инструмент,
                    также предлагающий широкие возможности для автоматического анализа естественного языка,
                    в том числе на русском языке. Использованная модель была предобучена
                    на русскоязычной части датасета Universal Dependencies v2.8, что означает,
                    что её граммемы также соответствуют формату CoNLL-U.
                </li>
            </ul>
    </div>

    <!-- //TODO: Как понять? Описание метрик -->

    <div class="row" id="mess">
        <h3>Вместо результатов какая-то ерунда!</h3>
        <p class="answer">
            Качество результата может сильно зависеть от выбранной модели,
            поэтому есть смысл попробовать другую.
            Если выбранная модель не справляется,
            подготовьте небольшой, но разнообразный набор данных со столбцом <b>Imperative</b>,
            чтобы сравнить качество разных моделей и выбрать, какую применить для полного набора данных.
            Кроме того, важно помнить, что машины решает неоднозначные задачи
            (а определение наклонения без понимания текста — задача неоднозначная) хуже, чем человек,
            и результат работы нашего сайта в любом случае требует проверки.
        </p>
    </div>

    <div class="row" id="loading">
    <h3>Значок загрузки бесконечно мигает!</h3>
        <p class="answer">
            Морфологический, а особенно синтаксический разбор текстов требует времени,
            что отражает мигающий значок загрузки.
            Попробуйте для начала загрузить небольшой набор данных, чтобы проверить работу выбранной модели.
        </p>
    </div>

    <div class="row" id="publications">
        <h3>Где можно почитать про проект?</h3>
            <ul class="answer">
                <li>
                    <a href="https://phil.rudn.ru/dokumenti/Sbornik.pdf"  class="summary_link">
                        Белова П. Е., Сафарян А. К.
                        Автоматизация процесса поиска побуждений и извлечения их из текста. //
                        В кн.: Современный медиатекст и судебная экспертиза: междисциплинарные связи и экспертная оценка:
                        сборник научных работ по итогам Международной научно-практической конференции
                        «Современный медиатекст и судебная экспертиза: междисциплинарные связи и экспертная оценка» /
                        Под общ. ред.: П. А. Катышев, Огорелков И. В.. М. : ООО «СОЮЗКНИГ», 2023. С. 46-56.
                    </a>
                </li>
            </ul>
    </div>

    <div class="row" id="contacts">
        <h3>Как с вами связаться?</h3>
        <p class="answer">
            FindImper — развивающийся проект, поэтому мы всегда рады замечаниям и предложениям!
            Наши контакты вы можете найти на <a href="/about">соответствующей странице</a>.
        </p>
    </div>

</div>

{% endblock content %}